/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e9ecef; /* Cor de fundo */
    color: #4a4e69; /* Cor do texto */
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .social-icons a {
    margin-left: 15px;
}

header .social-icons img {
    width: 30px;
    height: 30px;
}

/* Apresentação */
#apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

#apresentacao .imagem img {
    width: 200px;
    border-radius: 50%;
}

#apresentacao .texto {
    flex: 1;
    padding-left: 2rem;
}

#apresentacao h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #22223b; /* Cor do título */
}

/* Projetos */
#projetos {
    background-color: #fff;
    padding: 2rem 0;
}

#projetos h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #22223b; /* Cor do título */
    font-size: 2rem; /* Tamanho do título */
}

.projetos-grid {
    display: flex; /* Flexbox para organizar as colunas */
    justify-content: center; /* Centraliza as colunas */
    gap: 20px; /* Espaço entre as colunas */
}

.projeto {
    width: 300px; /* Largura das colunas */
    text-align: center; /* Alinha o texto no centro */
}

.projeto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.projeto p {
    color: #4a4e69; /* Cor do texto da descrição */
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .social-icons a {
    margin-left: 15px;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
}
